<vex-page-layout>

  <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
    <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1 heading">{{'MERCHANTPAYMENT' | translate}}
          @if(IsFromList == true){
          <span> - {{ merchantName }} </span>
          }@else {
          }
        </h1>
        <vex-breadcrumbs [crumbs]="['Merchant Payment', 'List']"></vex-breadcrumbs>
      </div>

      <div class="sm:block">
        <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
          <mat-button-toggle value="boxed">Boxed</mat-button-toggle>
          <mat-button-toggle value="fullwidth">Full-Width</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6  flex-wrap border-b sticky left-0 flex items-center justify-content-between">
        <div class="d-flex flex-nowrap">
          <button (click)="backToMerchnat()" class="cursor-pointer fs-4" title="Back To Merchant"
            *ngIf="IsFromList == true"><mat-icon svgIcon="mat:keyboard_backspace"></mat-icon></button>
          <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r  rtl:border-l sm:block flex-none ms-3">
            <span>{{'MERCHANT_PAYMENT_LIST' | translate}}</span>
          </h2>
        </div>
        <div class="d-flex flex-nowrap">
          <div
            class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
            <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
            <input class="px-md-4 px-2 py-2 border-0 outline-none w-full bg-transparent" [(ngModel)]="searchKeyword"
              (keyup)="applyFilter($event)" placeholder="{{ 'SEARCH' | translate }}" type="text" matInput
              oninput="this.value = this.value.replace(/^\s+/g, '')">
          </div>
          <span class="flex-1"></span>
          <button (click)="addEditMerchantPayment(null, merchantId)" class="ml-4 flex-none" color="primary" mat-mini-fab
            [title]="'Add New Merchant Payment' | translate" type="button">
            <mat-icon svgIcon="mat:add"></mat-icon>
          </button>
        </div>
      </div>
      <div class="bg-app-bar border-b sticky left-0 right-0 w-100 row" *ngIf="!IsFromList">
        <mat-form-field appearance="outline" class="col-md-2 col-sm-12">
            <mat-label>{{ 'SELECT_MERCHANT' | translate }}</mat-label>
            <mat-select multiple="true" [(ngModel)]="merchantIds">
              <mat-option *ngFor="let merchant of merchantDropDownList" [value]="merchant.merchantId">
                  {{ merchant.merchantName }}
              </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-2 col-sm-12">
            <mat-label>{{ 'SELECT_PAYMENT_TYPE' | translate }}</mat-label>
            <mat-select multiple="true" [(ngModel)]="paymentIds">
              <mat-option *ngFor="let payment of paymentType" [value]="payment.paymentId">
                  {{ payment.PaymentName }}
              </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-md-4 col-sm-10 d-flex align-items-center justify-content-start mb-4">
            <button mat-flat-button color="primary" type="button" class="filter-btn"
                (click)="getMerchantPaymentList()">{{ 'APPLY' | translate }}</button>
            <button mat-flat-button color="warn" type="button" class="filter-btn ms-2"
                (click)="clearFilter()">{{ 'RESET' | translate }}</button>
        </div>
    </div>
      <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort>
        <ng-container matColumnDef="PaymentDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="PaymentDate" class="table-header">{{ 'DATE' |
            translate
            }}</th>
          <td mat-cell *matCellDef="let element"> {{ element.paymentDate | date: 'dd/MM/yyyy' }} </td>
        </ng-container>
        <ng-container matColumnDef="MerchantName" *ngIf="IsFromList == false">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="MerchantName" class="table-header"> {{ 'MERCHANT_NAME'
            |
            translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.merchantName }} </td>
        </ng-container>
        <ng-container matColumnDef="SiteName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="SiteName" class="table-header"> {{ 'SITE_NAME' |
            translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.siteName }} </td>
        </ng-container>
        <ng-container matColumnDef="PaymentType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="PaymentType" class="table-header"> {{ 'PAYMENT_TYPE' |
            translate
            }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.paymentType }} </td>
        </ng-container>
        <ng-container matColumnDef="BankName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="BankName" class="table-header"> {{ 'BANK_NAME' |
            translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.bankName }} </td>
        </ng-container>
        <ng-container matColumnDef="ChequeNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="ChequeNo" class="table-header"> {{ 'CHEQUE_NUMBER' |
            translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.chequeNo }} </td>
        </ng-container>
        <ng-container matColumnDef="ChequeFor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="ChequeFor" class="table-header">{{ 'CHEQUE_FOR' |
            translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.chequeFor }} </td>
        </ng-container>
        <ng-container matColumnDef="Amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Amount" class="table-header">{{ 'AMOUNT' | translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.amount | CustomCurrency }} </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef class="table-header"> {{ 'ACTIONS' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <button class="action-button"
              (click)="addEditMerchantPayment(element.merchantPaymentId, element.merchantId)"><mat-icon
                svgIcon="mat:edit" title="Edit Merchant Payment"></mat-icon></button>&nbsp;
            <button class="action-button" (click)="deleteMerchantPayment(element.siteName,element.merchantPaymentId)">
              <mat-icon svgIcon="mat:delete" title="Delete Merchant Payment"></mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div *ngIf="showData"
        [ngClass]="dataSource.filteredData && dataSource.filteredData.length > 0 ? 'hidden' : 'visible'">
        <h5 class="text-center py-4">{{ 'NO_MERCHANT_PAYMENT_RECORD_FOUND' | translate }}</h5>
      </div>
      <mat-paginator *ngIf="!showData" [length]="totalrecord" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page" (page)="pageChanged($event)" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>

  </vex-page-layout-content>
</vex-page-layout>