.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    text-align: center;
    vertical-align: top;
}

.full-width {
    width: 100%;
}

.item-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.item-detail:last-child {
    margin-bottom: 0;
}

.mt-2 {
    margin-top: 8px;
}

.action-button {
    background: #E3EDF9;
    border-radius: 100px;
    padding: 4px;
    width: 35px;
    height: 33px;
    margin-right: 10px;
    text-decoration: none !important;
}

.width-1{
    width: 145px;
}

.width-2{
    width: 140px;
}

.width-3{
    width: 130px;
}