
ConstructionAPI/ConstructionAPI/obj
ConstructionAPI/ConstructionAPI/bin/
ConstructionAPI/ConstructionAPI.Common/bin
ConstructionAPI/ConstructionAPI.Common/obj/


/.vs
ConstructionAPI/ConstructionAPI.Common/bin/Debug/net8.0
ConstructionAPI/ConstructionAPI.Common/obj/Debug/net8.0
ConstructionAPI/ConstructionAPI.Common/obj
ConstructionAPI/ConstructionAPI.Repository/bin/Debug/net8.0
ConstructionAPI/ConstructionAPI.Repository/obj
ConstructionAPI/ConstructionAPI.Model/bin/Debug/net8.0
ConstructionAPI/ConstructionAPI.Model/obj
ConstructionAPI/ConstructionAPI.Service/bin/Debug/net8.0
ConstructionAPI/ConstructionAPI.Service/obj
ConstructionAPI/ConstructionAPI_AdminPortalAPI/bin/Debug/net8.0
ConstructionAPI/ConstructionAPI_AdminPortalAPI/obj
ConstructionAPI/ConstructionAPI_AdminPortalAPI/bin/Release/net8.0
ConstructionAPI/ConstructionAPI.Service/bin/Release/net8.0
ConstructionAPI/ConstructionAPI.Model/bin/Release/net8.0
ConstructionAPI/ConstructionAPI.Repository/bin/Release/net8.0
ConstructionAPI/ConstructionAPI.Common/bin/Release/net8.0

node_modules/
ConstructionAPI/.vs/
ConstructionAppAngular/dist/
ConstructionAPI/ConstructionAPI/wwwroot/DataFiles/
