<div  class="p-gutter container">
    <div class="flex flex-col sm:flex-row gap-4">
        <div @fadeInUp class="card flex-auto">
            <div class="px-6 py-4 border-b flex items-center">
                <h2 class="title m-0">{{ 'CHANGE_PASSWORD'| translate }}</h2>
            </div>
            <form [formGroup]="ChangePassForm" (ngSubmit)="submitChangePassForm()">
                <div class="px-6 py-4 flex flex-col">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'OLD_PASSWORD'| translate }}</mat-label>
                        <input [type]="inputType" matInput formControlName="oldPassword">
                        <button (click)="togglePassword()" mat-icon-button matSuffix type="button">
                            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
                            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
                        </button>
                        <mat-error *ngIf="submitted && ChangePassForm.get('oldPassword').hasError('required')">
                            {{ 'OLD_PASSWORD_REQUIRED'| translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'NEW_PAASWORD'| translate }}</mat-label>
                        <input [type]="newPasswordVisible ? 'text' : 'password'" matInput formControlName="newPassword">
                        <button (click)="newPasswordVisible = !newPasswordVisible" mat-icon-button matSuffix
                            type="button">
                            <mat-icon *ngIf="newPasswordVisible" svgIcon="mat:visibility"></mat-icon>
                            <mat-icon *ngIf="!newPasswordVisible" svgIcon="mat:visibility_off"></mat-icon>
                        </button>
                        <mat-error *ngIf="submitted && ChangePassForm.get('newPassword').hasError('required')">
                            {{ 'NEW_PASSWORD_IS_REQUIRED'| translate }}
                        </mat-error>
                        <mat-error *ngIf="submitted && ChangePassForm.get('newPassword').hasError('minlength')">
                            {{ 'NEW_PASSWORD_VALIDATION'| translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'CONFIRM_NEW_PASSWORD'| translate }}</mat-label>
                        <input [type]="confirmPasswordVisible  ? 'text' : 'password'" matInput
                            formControlName="confirmNewPassword">
                        <button (click)="confirmPasswordVisible = !confirmPasswordVisible" mat-icon-button matSuffix
                            type="button">
                            <mat-icon *ngIf="confirmPasswordVisible" svgIcon="mat:visibility"></mat-icon>
                            <mat-icon *ngIf="!confirmPasswordVisible" svgIcon="mat:visibility_off"></mat-icon>
                        </button>
                        <mat-error *ngIf="submitted && ChangePassForm.get('confirmNewPassword').hasError('required')">
                            {{ 'CONFIRM_NEW_PASSWORD_IS_REQUIRED'| translate }}
                        </mat-error>
                        <mat-hint class="mat-error"
                            *ngIf="submitted && !ChangePassForm.get('confirmNewPassword').hasError('required') && ChangePassForm.errors?.mismatch">
                            {{ 'CONFIRM_NEW_PASSWORD_VALDATION'| translate }}</mat-hint>
                    </mat-form-field>
                    <div class="flex items-center justify-end gap-2">
                        <button mat-flat-button color="primary" type="submit">{{ 'SUBMIT'| translate }}</button>
                        <button mat-button color="primary" type="button" (click)="cancel()">{{ 'CANCEL'| translate }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>