<div class="dialogue-content p-3">
    <div class="d-flex justify-content-between mat-dialogue-header border-bottom-0 align-items-start">
        <h4 class="mat-dialog-title" id="modal-basic-title">
            {{ vehicleRentId == null ? ('ADD_VEHICLE_RENT' | translate) :
            ('EDIT_VEHICLE_RENT' | translate) }}
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
    </div>
</div>
<mat-dialog-content class="">
    <div>
        <form class="example-form" [formGroup]="AddEditVehicleRentForm" (ngSubmit)="submitVehicleRentForm()">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>{{ 'SELECT_VEHICLE_RENT_DATE' | translate }}</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="vehicleRentDate" [max]="minDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="submitted && AddEditVehicleRentForm.get('vehicleRentDate').hasError('required')">
                    {{ 'VEHICLE_RENT_DATE_IS_REQUIRED' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>{{ 'SELECT_VEHICLE_OWNER' | translate }}</mat-label>
                <mat-select formControlName="vehicleOwnerId">
                    <mat-option *ngFor="let vOwner of vehicleOwner" [value]="vOwner.vehicleOwnerId">
                        {{ vOwner.vehicleOwnerName }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && AddEditVehicleRentForm.get('vehicleOwnerId').hasError('required')">
                    {{ 'PLEASE_SELECT_VEHICLE_OWNER' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>{{ 'FROM_LOCATION' | translate }}</mat-label>
                <input matInput [placeholder]="'ENTER_VEHICLE_FORM_LOCSTION' | translate" type="text"
                    formControlName="fromLocation">
                <mat-error *ngIf="submitted && AddEditVehicleRentForm.get('fromLocation').hasError('required')">
                    {{ 'FORM_LOCATION_IS_REQUIRED' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>{{ 'TO_LOCATION' | translate }}</mat-label>
                <input matInput [placeholder]="'ENTER_VEHICLE_TO_LOCATION' | translate" type="text"
                    formControlName="toLocation">
                <mat-error *ngIf="submitted && AddEditVehicleRentForm.get('toLocation').hasError('required')">
                    {{ 'TO_LOCATION_IS_REQUIRED' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>{{ 'VEHICLE_NUMBER' | translate }}</mat-label>
                <input matInput [placeholder]="'ENTER_VEHICLE_NUMBER' | translate" type="text"
                    formControlName="vehicleNumber">
                <mat-error *ngIf="submitted && AddEditVehicleRentForm.get('vehicleNumber').hasError('required')">
                    {{ 'VEHICLE_NUMBER_IS_REQUIRED' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label> {{ 'AMOUNT' | translate }} </mat-label>
                <input matInput [placeholder]="'ENTER_AMOUNT' | translate" formControlName="amount" type="text"
                    maxlength="10"
                    oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1').substring(0, 10);" />
                <mat-error *ngIf="submitted && AddEditVehicleRentForm.get('amount').hasError('required')">
                    {{ 'AMOUNT_IS_REQUIRED' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>{{ 'REMARKS' | translate }}</mat-label>
                <textarea matInput [placeholder]="'ENTER_REMARKS' | translate" type="text"
                    formControlName="remarks"></textarea>
            </mat-form-field>
            <div class="float-end">
                <button mat-flat-button color="primary" type="submit">
                    {{ vehicleRentId == null ? ('ADD' | translate) : ('UPDATE' | translate) }}
                </button>&nbsp;
                <button mat-button color="primary" type="button" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
            </div>
        </form>
    </div>
</mat-dialog-content>