<div class="dialogue-content p-3">
    <div class="d-flex justify-content-between mat-dialogue-header border-bottom-0 align-items-start">
        <h4 class="mat-dialog-title" id="modal-basic-title">{{this.personId == null ?  ('ADD_PERSON' | translate) :
            ('EDIT_PERSON' | translate)}}
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
    </div>
</div>
<mat-dialog-content class="">
    <div>
        <form class="example-form" [formGroup]="AddEditPersonForm" (ngSubmit)="submitPersonForm()">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>{{ 'FULL_NAME' | translate }}</mat-label>
                <input matInput [placeholder]="'ENTER_FULL_NAME' | translate" formControlName="personFullName" />
                <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
                <mat-error *ngIf="submitted && AddEditPersonForm.get('personFullName').hasError('required')">
                    {{ 'FULL_NAME_IS_REQUIRED' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>{{ 'DAILY_RATE' | translate }}</mat-label>
                <input matInput [placeholder]="'ENTER_DAILY_RATE' | translate" formControlName="dailyRate" maxlength="10" type="text"
                    oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1').substring(0, 10);" />
                <mat-icon matPrefix svgIcon="mat:monetization_on"></mat-icon>
                <mat-error *ngIf="submitted && AddEditPersonForm.get('dailyRate').hasError('required')">
                    {{ 'DAILY_RATE_IS_REQUIRED' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>{{ 'PERSON_TYPE' | translate }}</mat-label>
                <mat-icon matPrefix svgIcon="mat:supervisor_account"></mat-icon>
                <mat-select formControlName="id">
                    <mat-option *ngFor="let person of activePersonType" [value]="person.id">
                        {{ person.personType }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && AddEditPersonForm.get('id').hasError('required')">
                    {{ 'SELECT_PERSON_TYPE' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>{{ 'MOBILE_NUMBER' | translate }}</mat-label>
                <input matInput [placeholder]="'ENTER_MOBILE_NUMBER' | translate" formControlName="mobileNo"
                    oninput="this.value = this.value.replace(/^\s+|\D+/g, '').substring(0, 10)" />
                <mat-icon matPrefix svgIcon="mat:phone"></mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>{{ 'ADDRESS' | translate }}</mat-label>
                <input matInput [placeholder]="'ENTER_ADDRESS' | translate" formControlName="personAddress" />
                <mat-icon matPrefix svgIcon="mat:home"></mat-icon>
            </mat-form-field>
            <div class="float-end">
                <button mat-flat-button color="primary" type="submit">{{this.personId == null ? ('ADD' | translate) :
                    ('UPDATE' | translate)}}</button>&nbsp;
                <button mat-button color="primary" type="button" (click)="cancel()">{{ 'CANCEL' | translate
                    }}</button>
            </div>
        </form>
    </div>
</mat-dialog-content>