<vex-page-layout>
    <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
        <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
            class="w-full flex flex-col sm:flex-row justify-between">
            <div>
                <h1 class="title mt-0 mb-1">{{ 'BILL_PAYMENT' | translate }} - ({{siteName}})</h1>
                <vex-breadcrumbs [crumbs]="['Bill Payment', 'List']"></vex-breadcrumbs>
            </div>
            <div class="sm:block">
                <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
                    <mat-button-toggle value="boxed">Boxed</mat-button-toggle>
                    <mat-button-toggle value="fullwidth">Full-Width</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
        <div class="card overflow-auto -mt-16">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
                <button (click)="backToSite()" class="cursor-pointer fs-4" title="Back To Site"><mat-icon
                        svgIcon="mat:keyboard_backspace"></mat-icon></button>
                <h2
                    class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l sm:block flex-none ms-3">
                    <span>{{ 'BILL_PAYMENT_LIST' | translate }}</span>
                </h2>
                <div
                    class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
                    <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
                    <input class="px-4 py-2 border-0 outline-none w-full bg-transparent" [(ngModel)]="searchKeyword"
                        (keyup)="applyFilter($event)" placeholder="{{ 'SEARCH' | translate }}" type="text" matInput
                        oninput="this.value = this.value.replace(/^\s+/g, '')">
                </div>
                <span class="flex-1"></span>
                <button (click)="$event.stopPropagation()" title="Add New Bill Payment" class="ml-4 flex-none"
                    color="primary" mat-mini-fab [matMenuTriggerFor]="addActionsMenu" type="button">
                    <mat-icon svgIcon="mat:add"></mat-icon>
                </button>
            </div>
            <table mat-table [dataSource]="dataSource" class="w-full" (matSortChange)="sortData($event)" matSort>
                <ng-container matColumnDef="billdate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="billdate" class="table-header">{{ 'BILL_DATE'
                        | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.billDate | date: 'dd/MM/yyyy' }} </td>
                </ng-container>
                <ng-container matColumnDef="billno">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="billno" class="table-header"> {{
                        'BILL_NUMBER' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.billNo }} </td>
                </ng-container>
                <ng-container matColumnDef="billtype">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="billtype" class="table-header"> {{
                        'BILL_TYPE' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.billType }} </td>
                </ng-container>
                <ng-container matColumnDef="totalamount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="totalamount" class="table-header"> {{
                        'TOTAL_AMOUNT' | translate
                        }}
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.totalAmount | CustomCurrency }} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> {{ 'ACTIONS' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="action-button"
                            (click)="addEditSiteDebitPaymnet(element.billId,element.billType)"><mat-icon
                                svgIcon="mat:edit" title="Edit Bill Payment"></mat-icon></button>
                        <button class="action-button" (click)="deleteSiteDebitPayment(element.siteName,element.billId)">
                            <mat-icon svgIcon="mat:delete" title="Delete Bill Payment"></mat-icon></button>
                        <button class="action-button" *ngIf="element.billType == 'File'"
                            (click)="saveFile(element.siteBillFile)">
                            <mat-icon svgIcon="mat:download" title="Download Bill File"></mat-icon>
                        </button>
                        <button class="action-button" title="Export" *ngIf="element.billType == 'Area'"
                            (click)="$event.stopPropagation()" [matMenuTriggerData]="{ sitePayment: element }"
                            [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button"><mat-icon
                                svgIcon="mat:download"></mat-icon></button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="showData"
                [ngClass]="dataSource.filteredData && dataSource.filteredData.length > 0 ? 'hidden' : 'visible'">
                <h5 class="text-center py-4">{{ 'NO_BILL_PAYMENT_RECORD_FOUND' | translate }}</h5>
            </div>
            <mat-paginator *ngIf="!showData" [length]="totalrecord" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" aria-label="Select page" (page)="pageChanged($event)"
                [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
    </vex-page-layout-content>
</vex-page-layout>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-data="sitePayment" matMenuContent>
        <button mat-menu-item (click)="exportBillPaymentListPDF(data.billId,data.billNo)">
            <mat-icon svgIcon="mat:picture_as_pdf"></mat-icon>
            <span>{{ 'PDF' | translate }}</span>
        </button>
        <button mat-menu-item (click)="exportBillPaymentListExcel(data.billId,data.billNo)">
            <mat-icon svgIcon="mat:insert_drive_file"></mat-icon>
            <span>{{ 'EXCEL' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #addActionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-site="site" matMenuContent>
        <button mat-menu-item (click)="addEditSiteDebitPaymnet(null,'File')">
            <mat-icon svgIcon="mat:add" color="primary"></mat-icon>
            <span>File</span>
        </button>
        <button mat-menu-item (click)="BillPaymentWithOutFile()">
            <mat-icon svgIcon="mat:add" color="primary"></mat-icon>
            <span>Area</span>
        </button>
    </ng-template>
</mat-menu>