<div class="dialogue-content p-3">
    <div class="d-flex justify-content-between mat-dialogue-header border-bottom-0 align-items-start">
        <h4 class="mat-dialog-title" id="modal-basic-title">
            {{ sitePhotoCategoryId == null ? ('ADD_IMAGE_CATEGORY' | translate) :
            ('EDIT_IMAGE_CATEGORY' | translate) }}
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
    </div>
</div>
<mat-dialog-content class="">
    <div>
        <form class="example-form" [formGroup]="AddEditSiteCategoryForm" (ngSubmit)="submitSiteCategoryForm()">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>{{ 'IMAGE_CATEGORY_NAME' | translate }}</mat-label>
                <input matInput [placeholder]="'ENTER_IMAGE_CATEGORY_NAME' | translate" type="text"
                    formControlName="categoryName">
                <mat-icon matPrefix svgIcon="mat:image"></mat-icon>
                <mat-error *ngIf="submitted && AddEditSiteCategoryForm.get('categoryName').hasError('required')">
                    {{ 'IMAGE_CATEGORY_NAME_IS_REQUIRED' | translate }}
                </mat-error>
            </mat-form-field>
            <div class="float-end">
                <button mat-flat-button color="primary" type="submit">
                    {{ sitePhotoCategoryId == null ? ('ADD' | translate) :
                    ('UPDATE' | translate) }}
                </button>&nbsp;
                <button mat-button color="primary" type="button" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
            </div>
        </form>
    </div>
</mat-dialog-content>