<vex-page-layout>

  <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
    <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1 heading">{{'PERSON_ATTENDANCE' | translate}}</h1>
        <vex-breadcrumbs [crumbs]="['Attendance', 'List']"></vex-breadcrumbs>
      </div>

      <div class="sm:block">
        <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
          <mat-button-toggle value="boxed">Boxed</mat-button-toggle>
          <mat-button-toggle value="fullwidth">Full-Width</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center justify-content-between">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r  rtl:border-l sm:block flex-none">
          <span>{{'PERSON_ATTENDANCE_LIST' | translate}}</span>
        </h2>
        <div class="d-flex justify-content-between">
          <div
            class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">

            <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>

            <input class="px-4 py-2 border-0 outline-none w-full bg-transparent" [(ngModel)]="searchKeyword"
              (keyup)="applyFilter($event)" placeholder="{{ 'SEARCH' | translate }}" type="text" matInput
              oninput="this.value = this.value.replace(/^\s+/g, '')">
          </div>

          <span class="flex-1"></span>

          <button (click)="addEditPersonAttendance(null)" class="ml-4 flex-none" color="primary" mat-mini-fab
            [title]="'ADD_ATTENDANCE' | translate" type="button">
            <mat-icon svgIcon="mat:add"></mat-icon>
          </button>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort>
        <ng-container matColumnDef="AttendanceDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="AttendanceDate" class="table-header">{{ 'ATTENDANCE_DATE' | translate
            }}</th>
          <td mat-cell *matCellDef="let element"> {{ element.attendanceDate | date: 'dd/MM/yyyy' }} </td>
        </ng-container>
        <ng-container matColumnDef="TotalAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="TotalAmount" class="table-header"> {{ 'TOTAL_AMOUNT' | translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.totalAmount }} </td>
        </ng-container>
        <ng-container matColumnDef="FullDay">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="FullDay" class="table-header"> {{ 'FULL_DAY' | translate
            }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.fullDay }} </td>
        </ng-container>
        <ng-container matColumnDef="HalfDay">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="HalfDay" class="table-header"> {{ 'HALF_DAY' | translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.halfDay }} </td>
        </ng-container>
        <ng-container matColumnDef="Absent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Absent" class="table-header"> {{ 'ABSENT' | translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.absent }} </td>
        </ng-container>
        <ng-container matColumnDef="Total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Total" class="table-header">{{ 'TOTAL' | translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.total }} </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef class="table-header"> {{ 'ACTIONS' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <button class="action-button" (click)="addEditPersonAttendance(element.attendanceId)"><mat-icon
                svgIcon="mat:edit" title="Edit Attendance"></mat-icon></button>&nbsp;
            <button class="action-button" (click)="deletePersonAttendance(element.attendanceDate,element.attendanceId)">
              <mat-icon svgIcon="mat:delete" title="Delete Attendance"></mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div *ngIf="showData"
        [ngClass]="dataSource.filteredData && dataSource.filteredData.length > 0 ? 'hidden' : 'visible'">
        <h5 class="text-center py-4">{{ 'NO_ATTENDANCE_RECORD_FOUND' | translate }}</h5>
      </div>
      <mat-paginator *ngIf="!showData" [length]="totalrecord" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page" (page)="pageChanged($event)" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>

  </vex-page-layout-content>
</vex-page-layout>