<vex-page-layout>
  <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
    <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">{{ 'PERSONS' | translate }}</h1>
        <vex-breadcrumbs [crumbs]="['Person', 'List']"></vex-breadcrumbs>
      </div>
      <div class="sm:block">
        <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
          <mat-button-toggle value="boxed">Boxed</mat-button-toggle>
          <mat-button-toggle value="fullwidth">Full-Width</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 flex-wrap border-b sticky left-0 flex items-center justify-content-between">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r  rtl:border-l sm:block flex-none">
          <span>{{ 'PERSON_LIST' | translate }}</span>
        </h2>
        <div class="d-flex flex-nowrap">
          <div
            class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
            <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
            <input class="px-4 py-2 border-0 outline-none w-full bg-transparent" [(ngModel)]="searchKeyword"
              (keyup)="applyFilter($event)" placeholder="{{ 'SEARCH' | translate }}" type="text" matInput
              oninput="this.value = this.value.replace(/^\s+/g, '')">
          </div>
          <span class="flex-1"></span>
          <button (click)="addEditPerson(null)" class="ml-4 flex-none" color="primary" mat-mini-fab
            [title]="'Add New Person' | translate" type="button">
            <mat-icon svgIcon="mat:add"></mat-icon>
          </button>
        </div>
      </div>
      <div class="bg-app-bar flex-wrap sticky left-0 right-0 w-100 row">
        <mat-form-field appearance="outline" class="col-md-2 col-sm-12">
          <mat-label>{{ 'SELECT_START_DATE' | translate }}</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="startDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-2 col-sm-12">
          <mat-label>{{ 'SELECT_END_DATE' | translate }}</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="endDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class=" col-md-2 col-sm-12">
          <mat-label>{{ 'ACTIVE' | translate }}</mat-label>
          <mat-select multiple="true" [(ngModel)]="statusIds" name="statusIds">
              <mat-option value="1">{{ 'ACTIVE' | translate }}</mat-option>
              <mat-option value="0">{{ 'INACTIVE' | translate }}</mat-option>
          </mat-select>
      </mat-form-field>
        <div class="col-md-4 col-sm-10 d-flex align-items-center justify-content-start mb-4">
          <button mat-flat-button color="primary" type="button" class="filter-btn" (click)="getPersonList()">{{ 'APPLY'
            | translate }}</button>
          <button mat-flat-button color="warn" type="button" class="filter-btn ms-2" (click)="clearFilter()">{{ 'RESET'
            | translate }}</button>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource" class="w-full" (matSortChange)="sortData($event)" matSort>
        <ng-container matColumnDef="PersonFirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="PersonFirstName" class="table-header"> {{
            'PERSON_NAME' | translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.personFirstName }} </td>
        </ng-container>
        <ng-container matColumnDef="billamount">
          <th mat-header-cell *matHeaderCellDef class="table-header" mat-sort-header="billamount" > {{ 'BILL_AMOUNT' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.billAmount | CustomCurrency}} </td>
        </ng-container>
        <ng-container matColumnDef="creditamount">
          <th mat-header-cell *matHeaderCellDef class="table-header" mat-sort-header="creditamount" > {{ 'CREDIT_AMOUNT' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.creditAmount | CustomCurrency }} </td>
        </ng-container>
        <ng-container matColumnDef="remainingamount">
          <th mat-header-cell *matHeaderCellDef class="table-header" mat-sort-header="remainingamount" > {{ 'REMAINING_AMOUNT' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.remaining | CustomCurrency }} </td>
        </ng-container>
        <ng-container matColumnDef="MobileNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="MobileNo" class="table-header"> {{ 'MOBILE_NO' |
            translate }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.mobileNo }} </td>
        </ng-container>
        <ng-container matColumnDef="IsActive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="IsActive" class="table-header">{{ 'STATUS' | translate
            }}</th>
          <td mat-cell *matCellDef="let element" class="WrapData cursor-pointer ">
            <span *ngIf="element.isActive" class="text-success cursor-pointer badge-active"
              (click)="activeInactiveSite(element.personId , element.personFirstName,'InActive')">{{ 'ACTIVE' |
              translate
              }}</span>
            <span *ngIf="!element.isActive" class="text-danger cursor-pointer badge-inactive"
              (click)="activeInactiveSite(element.personId , element.personFirstName,'Active')">{{ 'INACTIVE' |
              translate
              }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="personPayment">
          <th mat-header-cell *matHeaderCellDef class="table-header">{{ 'PERSON_PAYMENT' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ person : element }"
              [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
              <mat-icon svgIcon="mat:more_vert"></mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef class="table-header"> {{ 'ACTIONS' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <button class="action-button" (click)="addEditPerson(element.personId)">
              <mat-icon svgIcon="mat:edit"></mat-icon>
            </button>
            <button class="action-button" (click)="deletePerson(element.personFirstName,element.personId)">
              <mat-icon svgIcon="mat:delete"></mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div *ngIf="showData"
        [ngClass]="dataSource.filteredData && dataSource.filteredData.length > 0 ? 'hidden' : 'visible'">
        <h5 class="text-center py-4">{{ 'NO_PERSON_RECORD_FOUND' | translate }}</h5>
      </div>
      <mat-paginator *ngIf="!showData" [length]="totalrecord" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page" (page)="pageChanged($event)" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-person="person" matMenuContent>
    <button mat-menu-item (click)="personPaymentList(person.personId)">
      <mat-icon svgIcon="mat:monetization_on"></mat-icon>
      <span>{{ 'CREDIT' | translate }}</span>
    </button>
    <button mat-menu-item (click)="personPaymentDebitList(person.personId)">
      <mat-icon svgIcon="mat:monetization_on"></mat-icon>
      <span>{{ 'BILL' | translate }}</span>
    </button>
  </ng-template>
</mat-menu>